<manifest package="com.example.processb"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.example.multiprocess"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.multiprocess"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="B"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ProcBActivity"
            android:exported="true"
            android:permission="com.example.multiprocess"/>

        <service
            android:name=".ProcBService"
            android:exported="true"
            android:permission="com.example.multiprocess"/>

        <provider
            android:name=".ProcBProvider"
            android:authorities="com.example.multiprocess.provider"
            android:exported="true"
            android:permission="com.example.multiprocess"/>

        <receiver
            android:name=".ProcBReceiver"
            android:exported="true"
            android:permission="com.example.multiprocess">
            <intent-filter>
                <action android:name="com.example.multiprocess.broadcast"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".ProcBAidl"
            android:exported="true"
            android:permission="com.example.multiprocess"/>

        <service
            android:name=".ProcBMessenger"
            android:exported="true"
            android:permission="com.example.multiprocess"/>


    </application>

</manifest>
